.map-block {
    display: flex;
    padding-top: 20px;
}

.map-info {
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
}

.our-map {
    width: 50%;
}

.map-iframe {
    width: 100%;
}
